@model IEnumerable<Rosen.Models.Darts>

@{
    ViewData["Title"] = "Darts";
}

<h1>Mängu tabel</h1>

<p>
    <a asp-action="Create">Mängima</a>
</p>
<table class="table mainBackground">
    <thead>
        <tr>
            <th>
                Top
            </th>
            <th>
                P1
            </th>
            <th>
                P2
            </th>
            <th>
                P3
            </th>
            <th>
                P4
            </th>
            <th>
                P5
            </th>
            <th>
                P6
            </th>
            <th>
                P7
            </th>
            <th>
                P8
            </th>
            <th>
                Kuup.
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1)
            :
                @Html.DisplayFor(modelItem => item.Player1Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2)
            :
                @Html.DisplayFor(modelItem => item.Player2Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player3)
            :
                @Html.DisplayFor(modelItem => item.Player3Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player4)
            :
                @Html.DisplayFor(modelItem => item.Player4Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player5)
            :
                @Html.DisplayFor(modelItem => item.Player5Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player6)
            :
                @Html.DisplayFor(modelItem => item.Player6Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player7)
            :
                @Html.DisplayFor(modelItem => item.Player7Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player8)
            :
                @Html.DisplayFor(modelItem => item.Player8Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
